certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.6
mwparserfromhell==0.6.6
packaging==24.0
pywikibot==9.0.0
requests==2.31.0
urllib3==2.2.1

nltk~=3.8.1
spacy~=3.7.4
tqdm~=4.66.2
datasets~=2.18.0
torch~=2.2.2
transformers~=4.39.3