nltk~=3.8.1
spacy~=3.7.4
tqdm~=4.66.2
datasets~=2.18.0
torch~=2.2.2
transformers~=4.39.3
scikit-learn~=1.4.2
numpy~=1.26.4
matplotlib~=3.8.4
peft~=0.10.0
requests~=2.31.0
beautifulsoup4~=4.12.2
rank_bm25~=0.2.2
sacremoses~=0.1.1
langdetect~=1.0.9
odenet~=0.1.0
einops~=0.8.0
safetensors~=0.4.3
openai~=1.35.10