nltk~=3.8.1
spacy~=3.7.4
tqdm~=4.66.2
datasets~=2.18.0
torch~=2.2.2
transformers~=4.44.0
scikit-learn~=1.4.2
numpy~=1.26.4
matplotlib~=3.8.4
peft~=0.10.0
requests~=2.31.0
beautifulsoup4~=4.12.2
rank_bm25~=0.2.2
sacremoses~=0.1.1
langdetect~=1.0.9
git+https://github.com/hdaSprachtechnologie/odenet.git
git+https://github.com/tatuylonen/wiktextract.git
einops~=0.8.0
safetensors~=0.4.3
openai~=1.35.10
wandb~=0.17.5
flask~=3.0.3
flask_sse~=1.0.0
huggingface-hub~=0.24.5
gdown~=5.2.0